/*Font add*/
@font-face {
    font-family: 'besteam';
    src: url('./fonts/besteam/Besteam.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'fagguard';
    src: url('./fonts/fagguard/Fagguard.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'mega';
    src: url('./fonts/megalomania_2/Megalomania.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'quickpen';
    src: url('./fonts/quick_pencil/QuickPencil-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'sherlock';
    src: url('./fonts/sherlock/Sherlock\ Vintage.otf');
    font-weight: normal;
    font-size: normal;
}










/*general config*/
*{ 
    font-family: 'cursive';
}

#container {
    background: greenyellow;
    border: 5px dashed black;
    padding: 20px;
    box-sizing: border-box;
    width: 95%;
    height: 95%;
    margin: auto;
    min-width: 720px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 900;
}
.clear {
    clear: both;
}



/*main title*/
#main_title {
    background-color: orange;
    border: 3px solid blue;
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
    letter-spacing: 4px;
}


/*menu config*/
#navegacao {
    padding-left: 0;
    text-align: center;
}
#navegacao ul {
    text-align: center;
    padding-left: 0;
}
#navegacao li {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0;
}
#navegacao a {
    background-color: orange;
    color: black;
    border: 3px solid blue;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
    font-weight: 900;
}
#navegacao :hover {
    background-color: blue;
    color: white;
    border: 2px solid white;
}




/*subtitle config*/

.section_subtitle {
    text-align: center;
    background-color: darkblue;
    color: white;
    border: 3px solid orange;
}


/*paragraphs config*/

p {
    text-align: justify;
}





/*img config*/

img{
    width: 200px;
    float: left;
    border: 3px solid orange;
    
}
.general_info_img {
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;
    margin-bottom: 30px;
}
.lifestyle_img {
    width:100%;
}




/*table config*/

#classification_table {
    background-color: orange;
    border: 2px dotted blue;
    color:black;
    width: 90%;
    margin: auto;
    
}

#classification_table th{
    border: 2px dotted white;
    padding: 5px;
}
#classification_table td{
    border: 2px dotted white;
    padding: 5px;
    text-align: center;
    
}



/*Video config*/

.video_know_him {
    background-color: indigo;
    border: orange;
    margin: 25px 0px 0px;
    width: 48%;
    text-align: center;
    border: 3px solid orange;
    
}
.video_title {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-bottom: 3px solid orange;
    font-size: 1em;
}
.video_frame {
    width: 100%;
}
.right_float_video {
    float: right;
}

/*article boxes*/

#general_info {
    align-items: center;
}
#about_eating {
    position: relative;
    bottom: 30px;
}

/*float config*/

.left_float {
    float: left;
    width: 48%;
    margin: 5px 10px 10px 0px;
    
}
.right_float {
    float: right;
    width: 48%;
    margin: 5px 0px 10px 10px;
}
/*referencias bibliográficas*/
#referencias {
    width: 100%;
    height: 250px;
    padding:5px;
}
#referencias p{
    line-height: 2px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.7em;

}
#referencias h4{
    margin: 5px;
}
/*footer*/
footer {
    border: 3px solid blue;
    width: 35%;
    height: 60px;
    background-color: orange;
    margin: 20px auto 0px;
    text-align: center;
    padding: 5px 0;
}

footer p{
    
    text-align: center;
    font-size: 1.2em;
    line-height: 60px;
    margin: 0 auto;
    display: inline;
    font-family: 'quickpen';
    text-transform: uppercase;
    
}
footer span{
    font-family: 'quickpen';
    text-transform: uppercase;
}

/*links de redes sociais*/
.logosm {
    width: 22px;
}
.first_logo{
    margin-right: 0;
}
#social_media_box {
    width: 200px;
    height: 40px;
    margin: auto;
}
#social_media_box a{
    width: 28px;
    height:28px;
    display: inline-block;
    margin-right: 3px;
}
#copyright {
    margin:auto;
    position: relative;
    bottom: 25px;
